@{
    ViewBag.Title = "View";
}

<h2>AboutUs</h2>

<p>
    Our mission here at ArticleFib is to keep a flow of fresh content that allows a break from the dreary world of nonfiction. We provide a platform
    that allows our users to create whatever content they want whilst maintaining a loose "news article" format. The goal of our site varies user
    by user. Some visitors come for a break from the outside world and some visit to show off their creative writing skills. Our platoform is driven off
    of community participation so don't feel shy about contributing. This site is completely anonymous and does not track any information about you.
</p>
<br />
<h4>Contact the Developers!</h4>
<p>We value our users input and feedback over all else. Please if you have any comments, questions, suggestions, or feature requests shoot one of us
    an email and we will get right back to you! If you don't hear back after 15 minutes please send another email!</p>
<br />
<p><strong>Ryan Rothweiler</strong> can be contacted at ryanlovesjavascript@gmail.com </p>
<br />
<p><strong>Nikolas Beltran</strong> can be contacted at nikolaslovesbootstrap@gmail.com</p>
<br />
<p><strong>Zhendong Ma</strong> can be contacted at iamadatabasegod@gmail.com</p>
<br />
<p><strong>Matherin Langley</strong> can be contacted at howisjavascriptalanguage@gmail.com</p>