@model IEnumerable<HelloWorld.Models.Article>
<br>
<h3 class="text-danger">@ViewBag.Message</h3>

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.Title,"ArticleView",new { id = item.Id})
        </td>
        
        
    </tr>
}

</table>
